<div class="container header">
  <header>
      
    <div class="grid-8">
        <a href="index.html"><img src="images/logo.png"  alt="logo" class="logo"></a>
    </div>
    <div class="grid-4">
        <div class="mobile-menu" role="button">
            <a href="#"><span>MENU</span> <i class="fa fa-bars"></i></a>
        </div>

    </div>

  </header><!-- /.header --> 
</div>