{{#navigation}}
<div class="container nav">
  <nav>

    <ul class="mainnav">
    	{{#each main_nav}}
    		<li><a href="{{link}}">{{title}}</a>
    			{{#if sub_nav}}
    				<ul class="subnav">
    					{{#each sub_nav}}
    						<li><a href="{{link}}">{{title}}</a></li>
    					{{/each}}
    				</ul>
    			{{/if}}
    		</li>
    	{{/each}}
      
    </ul>
  </nav>


</div>

{{/navigation}}