<div class="container main">
  <div class="grid-12 main-wrapper">
    Sample home page

    Main text no padding  
  </div>
</div>
<div class="container padded main">
  Main text padded
</div>

<!-- slider -->
<div class="container main">
  <div class="grid-12">
    <div class="sample-slider">
      <div class="sample-slide">Some text</div>
      <div class="sample-slide">Some more text</div>
    </div>
  </div>
</div>