.container.nav {
		nav {
		width: 100%;
		position: relative;
		transform: none;
		top: 0; 
		ul {

			li {
				display: inline-block;
				position: relative;
			}
		}
		.subnav {
			width: 200px;
			display: none;
			position: absolute;
			z-index: 2;
			top: 25px;
			background: #fff;
			li {
				display: block;
			}
		}
	}
}